.App {
  text-align: center;
}
.list {
  /* margin: 50px; */
  max-width: 36%;
  margin: auto;
  margin-top: 40px;
  text-align: left;
}
.left {
  float: left;
  font-size: 1.3rem;
}
.first {
  margin-right: 150px;
}
.letter {
  font-size: 2rem;
}
.list-item {
  line-height: 30px;
}

.start-button {
  padding: 30px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid gray;
}
